.netrwhist
*.swp
*.pyc
.syntastic_cpp_flags

# Ignore any .ackrc in local projects but this project still explicitly adds a
# home-directory .ackrc
.ackrc

.xmonad/build-*
.xmonad/xmonad-x86_64-linux
.xmonad/xmonad.errors
.xmonad/xmonad.hi
.xmonad/xmonad.o
.vim/bundle/
