[user]
	name = Thomas McKee
	email = caffeine.storm@gmail.com
[core]
	excludesfile = ~/.gitignore
[alias]
	stat = status -s
	push-force-with-lease = push --force-with-lease

[init]
	defaultBranch = main
[merge]
	conflictStyle = diff3
